@{
    ViewData["Title"] = "Home Page";
    Layout = "_StartPage";
}

<div class="text-center">
    

    <!--Title-->
    <div>
        <h1 class="display-4">Welkom bij de party invites</h1>
        <p>Via deze twee knoppen kun je jezelf aanmelden</p>
        <div>
            <a asp-action="FormParty" asp-controller="Form"><button class="btn btn-primary">Aanmelden</button></a>
            <a asp-action="Invitation" asp-controller="Invitation"><button class="btn btn-secondary">Uitgenodigden bekijken</button></a>
        </div>
    </div>
    
</div>
