@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_StartPage";
    ViewData["Title"] = "Formulier";
}
@model PartyInvitesSequel.Models.Guest
<h1>Hallo form party</h1>

<!--Form-->

<form asp-action="FormParty" method="post">
    <div></div>
    <div>
        <label class ="form-label" asp-for="Name">Naam</label>
        <input class="" asp-for="Name" />
    </div>
    <div>
        <label class="form-label" asp-for="Email">Emailadres</label>
        <input class="col" asp-for="Email" />
    </div>
    <div class="col-auto">
        <label class="form-label" asp-for="Phone">Telefoonnummer</label>
        <input class="" asp-for="Phone"/>
    </div>
    <div>
        <label class="form-label" asp-for="WillAttend">Wilt u aanwezig zijn?</label>
        <select asp-for="WillAttend">
            <option value="">Kies</option>
            <option value="true">Ja</option>
            <option value="false">Nee</option>
        </select>
    </div>

    <button class="btn btn-primary" action="submit">Druk verder</button>
</form>
