@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form asp-action="index" asp-controller="Home" class="form-control" method="post">
    <div>
        <label>Naam</label>
        <input />
    </div>
    <div>
        <label>Wachtwoord</label>
        <input />
    </div>
    <div>
        <label>Email</label>
        <input />
    </div>

    <div>
        <button>Verstuur</button>
    </div>
</form>